* {
    margin: 0;
    padding: 0;
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

body{
    /* margin: 0; */
    overflow-x: hidden;
    /* min-width:375px ; */
}


header {
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}


.hamburger,
.logo {
  padding: 1rem 0 1rem 0;
}

/* .logo{
  margin-right: 6rem;
} */

header nav,
header button {
  display: none;
}


  main .frontImage {
    background: url("./images/bg-intro-mobile.svg") no-repeat;
    background-size: cover;
  }

  main img {
    width: 100%;
    margin-top: -20%;
  }

  .front {
    text-align: center;
    font-weight: bold;
    padding-bottom: 2rem;
  }

  .front h1,
  .front p {
    margin: 5% 10% 0 10%;
    width: 85%;
    font-weight: 500;
  }

  .front p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: hsl(233, 8%, 62%);
  }
  .front h1 {
    color: hsl(233, 26%, 24%);
    font-size: 2em;
  }
  
  button {
    margin: 10%;
    width: auto;
    border: none;
    padding: 0.8rem 2rem 0.8rem 2rem;
    border-radius: 30rem;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    background: linear-gradient(
        to right,
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%)
      );
  }
  
  button:hover {
    background: linear-gradient(to right,  hsl(136, 72%, 78%), hsl(192, 73%, 74%));
  }


  .chooseEasybank{
   background-color:hsl(220, 16%, 96%);
   text-align: center;
  }

  section h2 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 3rem 0 1rem 0;
    font-size: 2rem;
    text-align: center;
    color: hsl(233, 26%, 24%);
  }

  section p{
    width: 90%;
    margin: 0 5% 0 5%;
    font-size: 0.8rem;
    color: hsl(233, 8%, 62%);
    font-weight: 500;
    line-height: 1.4rem;
  }

  section h4 {
    padding: 1.7rem 0 1.7rem 0;
    font-size: 1.2rem;
    color: hsl(233, 26%, 24%);
  }

  section img {
    /* box-shadow: hsla(230, 7%, 51%, 0.408); */
    padding-top: 1.7rem;
  }

  section {
    padding-bottom: 3rem;
    /* width: 100%; */
  }

  article{
    width: 100vw;
    background-color:hsl(0, 0%, 98%);
  }


  article h2 {
    width: 65%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5rem 0 1rem 0;
    font-size: 1.7em;
    text-align: center;
    color: hsl(233, 26%, 24%);
    background-color: hsl(0, 0%, 98%);
  }

  article .container2 {
    background-color: white;
    width: 85%;
    margin: auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 0;
  }

  article img {
    width: 100%;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    margin: 0rem 0 0.4rem 0;
  }

  article .by {
    font-size: 0.6rem;
    margin: 1rem 0 1em 0;
    color:hsl(233, 8%, 62%);
    font-weight: bold;
  }

  article .description{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  article h5 {
    margin: 1rem 0 1em 0;
    color:hsl(233, 26%, 24%);
    font-size: 1rem;
  }
  article h5:hover {
    color:hsl(136, 65%, 51%) ;
    cursor: pointer;
  }
  
  article p {
    font-size: 0.7rem;
    margin: 1rem 0 1em 0;
    color:hsl(233, 8%, 62%);
    font-weight: 400;
    line-height: 1.1rem;
  }



  footer {
    /* position: absolute; */
    text-align: center;
    background-color: hsl(233, 26%, 24%);
    margin-top: 5rem;
    padding-bottom: 3rem;
  }

  footer .footer-logo img {
    padding: 2rem 0 1rem 0;
  }

  footer .icon svg{
    /* margin-bottom: 1rem; */
    margin-bottom: 1rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */

  }
  
  footer li a {
    text-decoration: none;
    color: hsl(220, 16%, 96%);
    font-size: 0.8rem;
  }
  footer button {
    padding: 0.7rem 1.8rem 0.7rem 1.8rem;
  }
  footer li {
    padding: 0.5rem;
  }

  footer p {
    color: hsl(233, 8%, 62%);
    font-size: 0.8rem;
  }
  .bottomfooter{
   color: hsl(221, 56%, 90%);
  }

  footer li a:hover {
    color:hsl(136, 65%, 51%);
  }


  .logo-hover:hover{
    fill:hsl(136, 65%, 51%);
  }



  /* for desktop */

  header nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 1.5rem 0 1.5rem 0;
  }

  header li a {
    text-decoration: none;
    color:hsl(233, 8%, 62%);
    padding-bottom: 0.7rem;
  }

  header button {
    margin: 0;
    padding: 0.7rem 1.7rem;
  }

  header {
    justify-content: space-around;
  }

  header li a:hover {
    color: hsl(233, 26%, 24%);
    border-bottom: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      hsl(136, 65%, 51%) ,
      hsl(192, 70%, 51%)
    );
  }

  @media (min-width:768px) {
    .logo{
      margin-left: 5rem;
    }

    .hamburger {
      display: none;
    }
    header nav,
    header button {
      display: block;
      margin-right: 5rem;
    }

    main {
      display: flex;
      background-color: hsl(0, 0%, 98%);
      overflow-x: clip;
    }
    main .frontImage {
      background: none;
      background: url("./images/bg-intro-desktop.svg") no-repeat -1rem -10rem;
      width: 53%;
      padding-bottom: 6rem;
    }
    main img {
      width: 90%;
      margin-top: -7%;
      margin-bottom: -30%;
      margin-left: 23%;
    }

    .front {
      text-align: start;
      width: 40%;
      order: -1;
      margin: auto;
      margin-left: 7%;
      margin-top: 13%;
    }

    section {
      position: relative;
      z-index: -1;
    }
    section .chosetitle {
      width: 60%;
      text-align: start;
      padding: 4rem 0 2rem 0;
      margin-left: 11%;
    }



    section h2 {
      font-size: 2.4rem;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 1rem;
      text-align: start;
    }
    section p {
      margin-left: 0;
      font-size: 1rem;
    }

    section .div h4{
      font-size: 1.4rem;
    }

    section .div p{
      font-size: 1rem;
      font-weight: 500;
    }
  
    .container1{
      display: flex;
      width: 85%;
      /* justify-content: space-between; */
      margin: auto;
      flex-wrap: wrap;
      margin-left: 11%; 
    }

    .div {
    width: 270px;
    text-align: left;
    margin: 1rem;
    margin-left: 0;
    }

    

    .container2{
      display: flex;
      width: 85%;
      margin: auto;
      justify-content: space-between;
      /* flex-wrap: wrap; */
      margin-left: 11%;
    }

    .div p {
      font-size: 0.8rem;
    }

    article h2 {
      font-size: 2.4rem;
      text-align: start;
      margin-left: 11%;
      margin-bottom: 1rem;
    }

    

    article .div {
      width: 270px;
      margin:0 2% 5% 3%;
    }
    article img {
      /* aspect-ratio: 1.3/2; */
      height: 10rem;

    }
    .description .by {
      font-size: 0.5rem;
    }


    footer {
      /* display: block; */
      display: flex;
      /* flex-wrap: wrap; */
      padding-bottom: 2rem;
    }
    

    footer .footer {
      width: 50%;
      display: flex;
      gap: 8rem;
      text-align: start;
      padding: 2% 7.5% 0 7.5%;
    }

    footer .footer-logo img {
      padding: 1rem 0 2rem 0;
    }

    /* footer .icon{
      margin-top: 20px;
    } */
    footer ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      /* margin-top: 2rem; */
      /* margin-right: 20%; */
      /* column-gap: 3rem; */
    }

    footer li {
      list-style: none;
      text-align: start;
    }

    footer .bottomfooter {
      width: 30%;
      padding-top: 3%;
      text-align: end;
    }

    footer li a {
      color: hsl(233, 8%, 62%);
      font-size: 0.9;
      font-weight: 800;
    }

    .bottomfooter button {
      margin: 0 0 1rem 0;
      padding: 0.7rem 1.7rem 0.7rem 1.7rem;
    }
  }

  @media (min-width:1300px){
    .front h1 {
      font-size: 3rem;
    }
    .front p {
      font-size: 1rem;
    }
  }

